body {
  background-color: #f2f2f2;
  font-family: 'Lexend Deca', sans-serif;
  margin: 0;
}

h1 {
  color: #f2f2f2;
  font-family: 'Big Shoulders Display', cursive;
  font-size: 2.5rem;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
  line-height: 1.9;
  font-size: 0.9rem;
}

button {
  width: 145px;
  height: 45px;
  border-radius: 50px;
  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 0.9rem;
  margin-top: 60px;
  outline: none;
}

button:hover {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #f2f2f2;
  transition: 0.5s;
}

.wrap {
  background-color: inherit;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  background-color: inherit;
  border-radius: 10px;
  height: 500px;
  width: 900px;
}

.blocks {
  padding: 50px;
}

.block1 {
  background-color: #e38826;
  border-radius: 10px 0 0 10px;
}

.block2 {
  background-color: #006970;
}

.block3 {
  background-color: #004241;
  border-radius: 0 10px 10px 0;
}

.block1 button {
  color: #e38826;
}

.block2 button {
  color: #006970;
}

.block3 button {
  color: #004241;
}

.blocks button:hover {
  color: #f2f2f2;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 40px;
}

.attribution a {
  color: #3e52a3;
  color: hsl(228, 45%, 44%);
}


@media (max-width: 375px) {


  button{
    margin-top: 5px;
  }

  .wrap{
    height: 100%;
    width: inherit;
    padding: 30px;
    margin-top: 70px;
  }

  .container{
    display: block;
    height: inherit;
    width: inherit;
  }

  .block1 {
    border-radius: 10px 10px 0 0;
  }

  .block3 {
    border-radius: 0 0 10px 10px;
  }

}


/* Ref

Bright orange: hsl(31, 77%, 52%)   	#e38826
Dark cyan: hsl(184, 100%, 22%)   	#006970
Very dark cyan: hsl(179, 100%, 13%)   #004241

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)   	#f2f2f2

font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */
